<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <img
          src="https://avatars3.githubusercontent.com/u/47863839?s=460&u=b60f1a48a2acf418ad019643180528d5988be50e&v=4"
          alt="myimage"
          width="100%"
        />
      </div>
      <div class="col-md-9">
        <h1 class="display-3 text-danger">Hello world!</h1>
        <h5>
          This a simple To do lists, using Angular
          <i class="fab fa-angular"></i> and localStorage for saving data. The
          project is opensoure, the github repos link is below
        </h5>
        <p>
          <a class="btn btn-danger btn-lg" href="#" role="button"
            >Github link »</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
