<style>
  @import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

  .navbar-brand-text {
    font-family: "Poiret One", cursive;
    font-weight: 900;
    display: inline;
  }
  .navbar-item-text {
    font-family: "Poiret One", cursive;
    font-weight: 900;
    display: inline;
  }
  .navbar-border {
    border-bottom: 2px #d9534f;
    box-shadow: 2px 2px 5px 0px rgba(217, 83, 79, 1);
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-danger sticky-top">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand text-danger navbar-brand-text" routerLink="/">
    <i class="fa fa-check-square fa-2x text-light" aria-hidden="true"></i>
    <h3 class="navbar-brand-text my-auto text-light">
      To do list
    </h3>
  </a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li
        class="nav-item"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link text-light navbar-item-text" routerLink="/">Home </a>
      </li>
      <li
        class="nav-item"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link text-light navbar-item-text" routerLink="/daily"
          >Daily
        </a>
      </li>

      <li
        class="nav-item"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link text-light navbar-item-text" routerLink="/important"
          >Important
        </a>
      </li>

      <li
        class="nav-item"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link text-light navbar-item-text" routerLink="/planned"
          >Planned
        </a>
      </li>

      <li
        class="nav-item"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link text-light navbar-item-text" routerLink="/assign"
          >Assign
        </a>
      </li>

      <li
        class="nav-item"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link text-light navbar-item-text" routerLink="/about"
          >About
        </a>
      </li>
    </ul>
  </div>
</nav>
