<nav id="sidebar">
  <div class="sidebar-header">
    <h3 class="sample">Bootstrap Sidebar</h3>
    <strong>BS</strong>
  </div>

  <ul class="list-unstyled components">
    <li class="active">
      <a
        href="#homeSubmenu"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
      >
        <i class="fa fa-home text-light" aria-hidden="true"></i>
        Home</a
      >
    </li>
    <li>
      <a href="#">
        <i class="fas fa-briefcase"></i>
        About
      </a>
      <a
        href="#pageSubmenu"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
      >
        <i class="fas fa-copy"></i>
        Pages
      </a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
          <a href="#">Page 1</a>
        </li>
        <li>
          <a href="#">Page 2</a>
        </li>
        <li>
          <a href="#">Page 3</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
